h1{
    font-family: 'Chathura', sans-serif;
    font-size: 100px;
    line-height:50%;
    color:lightskyblue
}
h2{
    font-family: 'Chathura', sans-serif;
    font-size: 70px;
    line-height:40%;
}